<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.cj.payroll.test.login.UserMapper">
	<!-- id - @Mapper에서 정의한 이름을 동일하게 맞춰줘야 한다. parameterType - 파라미터의 자료형을 넣어준다. -->
    <insert id="saveUser" parameterType="net.cj.payroll.test.login.UserVo">
        INSERT INTO TB_USER
        (USER_ID, USER_PW, USER_NAME, USER_AUTH)
        VALUES(#{userId},#{userPw},#{userName},#{userAuth});
    </insert>
    
	<update id="saveUserInfo" parameterType="net.cj.payroll.test.UserRespDto">
		UPDATE TB_USER
			SET user_info = #{userInfo}
		WHERE user_id = #{userId}
	</update>
	
    <select id="getUserAccount" resultType="net.cj.payroll.test.login.UserVo">
		SELECT * FROM TB_USER
		WHERE USER_ID= #{userId}
	</select>
	
	<select id="getUserData" resultType="net.cj.payroll.test.UserRespDto">
		SELECT user_id, user_name, user_auth, user_info FROM TB_USER
	</select>
	
	<select id="getUserInfo" resultType="net.cj.payroll.test.UserRespDto">
		SELECT user_id, user_name, user_auth, user_info
		FROM TB_USER
		WHERE user_id = #{userId}
	</select>
</mapper>